# Build artifacts
Build/
Temp/
Library/
obj/

# Visual studio solution and project files
*.sln
*.suo
*.user
*.csproj
*.unityproj

# Unity3D generated meta files
*.meta
ProjectSettings/TimelineSettings.asset
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
/UserSettings
UserSettings/EditorUserSettings.asset
