# Build artifacts
Build/
Temp/
Library/
obj/

# Visual studio solution and project files
*.sln
*.suo
*.user
*.csproj
*.unityproj

# Unity3D generated meta files
*.meta
ProjectSettings/TimelineSettings.asset
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
/UserSettings
UserSettings/EditorUserSettings.asset
.vs/testprj/FileContentIndex/ba4dc49d-0d99-4fc8-b602-b0c12df9d1ba.vsidx
.vs/testprj/v17/DocumentLayout.backup.json
.vs/testprj/v17/DocumentLayout.json
/Logs
/Logs
/UserSettings
